body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.flex-container {
    display:flex;
    flex-direction: column;
}

.ui-jqgrid-bdiv {
    overflow-y: auto;
    /*width: 500px !important;*/
    height: 220px !important;
    background-color: linen;
}

.add-good {
    margin-left: 25px;
}

.dialog-box {
    overflow:hidden !important;
}

.fake-input {
    width: 280px;
}

/*
.ui-pager-control {
    width: 500px !important;
    background-color: lightgray;
}

.ui-corner-all {
    width: 510px !important;
}*/

.ui-jqgrid .ui-jqgrid-pager {
    overflow:visible !important;
}

/*#jqPager_left {
    width: 100px !important;
}*/

/*#jqPager_center {
    width: 250px !important;
}

.ui-pg-button ui-corner-all {
    background-color: lightgray;
}*/